
/* common style */
*{
    font-family: 'Work Sans', sans-serif; ;
}

body{
    margin:0 80px;
    background: rgba(255, 144, 14, 0.10);
}


/* --------------
    NAV SECTION
   -------------- */
header{
    margin-top: 20px;
   }
.logo{
    font-size:3vw;
    font-weight: 700;
}
.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
  

}

.menu ul{
    list-style-type: none;
    display: flex;
    gap:40px;

}

.menu-section{
    font-size: 1.2vw;
    color:#424242;
    font-weight:500;
}
/* ------------------------
        FIRST CONTAINER
--------------------------- */
.btn{
    padding: 1.2vw 1.5vw;
    color:white;
    border: 0;
    border-radius: 4px;
    background: #FF900E;
    margin-bottom: 4vw;
}
.first-container{
  
    width:100%;
    text-align: center;
    
}

.banner-title{
 font-size:4vw; 
 font-weight: 700;
 padding-top: 9vh;
}

.banner-description{
    color:#727272;
    padding:0 29vh;
    font-size:1.5vw;
   
}

.first-container{
    display: flex;
    flex-direction: column-reverse;
}
.first-container img{
    width:100%;
}



/* ------------------------------------
            second container
---------------------------------------- */

.text-container{
    padding-top: 15vw;
    padding-left: 4vw;
}

.second-container{
    display: flex;


}
.img-container{

    display:grid;
    grid-template-columns: repeat(2, 2fr);

}

.img-container img{
    width: 342px;
    height: 342px;
    padding:15px;
}

.text-title{
    font-size: 2vw;
    font-weight: 500;
    color:#727272;
}
.text-description{
    color:#727272;
}

.of-our{
    color: black;
    font-weight: 700;
}
.features{
    color:#FF900E;
    font-weight: 700;
}


/* ---------------------------------------
        THIRD CONTAINER styles
 ------------------------------------------ */

 .third-container{
    display: flex;
 }

 .third-title{
    font-size:2.5vw;
 }

 .colorbox-child1{
    width:11px;
    height:70px;
    background-color:red;
    margin-top: 38px;
 }
 .colorbox-head{
    display: flex;
    gap:10px;
  
 }

 .features-box{
    width:3px;
 }
/* ----------------------------------------------
                MEDIA QURIES
-------------------------------------------------- */
/* mobile phone */
@media (max-width:576px){
    .first-container{
        
        flex-direction: column-reverse;
    }
    
    .menu{
        display: none;
       
    }
   .nav-bar{
    justify-content: center;
   }
   
   .logo{
    margin-bottom: 14px;
   }
   .banner-description{
    padding:0 12vw;
   }
   .banner-title{
    margin-top:-70px;
   }
   .banner-title{
    margin-top:4vh;
   }

   .second-container{
    flex-direction:column;
    }
    
   

    .text-title{
        font-size:5vw;
    }
    .img-container{
        grid-template-columns: repeat(1, 1fr);
    }
}


/* tablet responsive */

@media (min-width:577px) and (max-width:992px) {
    .banner-description{
        padding: 0px 14vh;
    }


    .second-container{
        flex-direction:column-reverse;
    }
    .text-title{
        font-size:4vw;
    }
}
